{
  "mcpServers": {
    "azure-devops": {
      "command": "cmd",
      "args": [
        "/c",
        "npx",
        "-y",
        "@azure-devops/mcp",
        "{{ .adoOrg }}",
        "-d",
        "work",
        "work-items",
        "-a",
        "azcli"
      ]
    }
  }
}
