[user]
	name = {{ .name }}
	email = {{ .email }}

[credential "azrepos:org/{{ .ado.org }}"]
	username = {{ .email }}
	azureAuthority = https://login.microsoftonline.com/{{ .tenantId }}

[core]
	autocrlf = false
{{- if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}

[credential]
	azreposCredentialType = oauth
	msauthUseBroker = true
	msauthUseDefaultAccount = true
{{- if eq .chezmoi.os "windows" }}
	helper = manager
{{- else }}
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- end }}

